{% extends 'index.html'%}
{% load static %}


{%block titulo%}
 Atleta</title>

{%endblock titulo%}

{% block contenido%}


<form method="get">

<div class="content container-fluid">

<div class="page-header">
<div class="row">
<div class="col">
<h3 class="page-title">Perfil</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">inicio</a></li>
<li class="breadcrumb-item active">Perfil</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="profile-header">
<div class="row align-items-center">
<div class="col-auto profile-image">
<a href="#">
<img class="rounded-circle" alt="User Image" src="{{object.imagen.url}}">
</a>
</div>
<div class="col ms-md-n2 profile-user-info">
<h4 class="user-name mb-0">{{object}}</h4>
<h6 class="text-muted">{{object.fecha_nacimiento}}</h6>
<div class="user-Location"><i class="fas fa-map-marker-alt"></i>  {{object.direcion}}</div>
<div class="about-text"></div>
</div>
<div class="col-auto profile-btn">
<a href="{% url 'Entrenamiento:listar_fisico' object.id %}" class="btn btn-primary">
Condicion Fisica
</a>
</div>
</div>
</div>
<div class="profile-menu">
<ul class="nav nav-tabs nav-tabs-solid">
<li class="nav-item">
<a class="nav-link active" data-bs-toggle="tab" href="#per_details_tab">Bateo</a>
</li>
<li class="nav-item">
<li class="nav-item">
<a class="nav-link" data-bs-toggle="tab" href="#password_tab">Pitcheo</a>
</li>
</ul>
</div>


<div class="tab-content profile-tab-cont">

<div class="tab-pane fade show active" id="per_details_tab">

<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-body">
<h5 class="card-title d-flex justify-content-between">
<span>Bateo</span>
<a class="btn btn-primary"  href="{% url 'Entrenamiento:grafica_bateo' object.id %}"><i class="far fa-edit me-1"></i>Grafico</a>
</h5>
<div class="row">
<div class="col-xl-12 d-flex">

                        <div class="card flex-fill student-space comman-shadow">
                            <div class="card-header d-flex align-items-center">
                                <h5 class="card-title">Listado</h5>
                                <ul class="chart-list-out student-ellips">
                                    <li class="star-menus"><a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table
                                        class="table star-student table-hover table-center table-borderless table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="text-center">Fecha</th>
                                                <th class="text-center">Turnos</th>
                                                <th class="text-center">Hits</th>
                                                <th class="text-center">Ponches</th>
                                                <th class="text-center">Avg.</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                {% for dato in info %}

                                                <td class="text-nowrap text-center">
                                                    <div>{{dato.fecha}}</div>
                                                </td>
                                                <td class="text-nowrap text-center ">       
                                                      {{dato.turno}}
                                                </td>
                                                <td class="text-center">{{dato.hits}}</td>
                                                <td class="text-center">{{dato.ponche_batiador}}</td>
                                                <td class="text-center">{{dato.avg|floatformat:3}}</td>
                                                <td class="text-end">
                                                    <div></div>
                                                </td>
                                            </tr>
                                            {%endfor%}                                                                                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                 

                </div>

                 

            </div>
        </div>




    </div>
</div>
</div>
   







<div id="password_tab" class="tab-pane fade">
<div class="card">
<div class="card-body">
<h5 class="card-title">Pitcheo</h5>
<a class="btn btn-primary "  href="{% url 'Entrenamiento:grafica_pitcheo' object.id %}"><i class="far fa-edit me-1"></i>Grafico</a>
<div class="row">
<div class="col-md-10 col-lg-12">
    <div class="card flex-fill student-space comman-shadow">
                            <div class="card-header d-flex align-items-center">
                                <h5 class="card-title">Listado</h5>
                                <ul class="chart-list-out student-ellips">
                                    <li class="star-menus"><a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table
                                        class="table star-student table-hover table-center table-borderless table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="text-center">Fecha</th>
                                                <th class="text-center">Lanzamientos</th>
                                                <th class="text-center">Porcentaje de strick</th>
                                                <th class="text-center">Porcentaje de Bolas</th>
                                                <th class="text-center">Ponches</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                {% for dato in info2 %}

                                                <td class="text-nowrap">
                                                    <div>{{dato.fecha}}</div>
                                                </td>
                                                <td class="text-nowrap">
                                                    <a href="{% url 'Entrenamiento:detalle_atleta' dato.id %}">
                                                           
                                                      {{dato.cantida}}
                                                    </a>
                                                </td>
                                                <td class="text-center">{{dato.pro_strik}}</td>
                                                <td class="text-center">{{dato.pro_bola}}</td>
                                                <td class="text-center">{{dato.pro_ponche}}</td>
                                                <td class="text-end">
                                                    <div></div>
                                                </td>
                                            </tr>
                                            {%endfor%}                                                                                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</form>
		
{% endblock contenido%}